* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0a0a0a;
  color: #fff;
}

/* SECTIONS */
.section {
  padding: 60px 10%;
}

h2 {
  margin-bottom: 30px;
}

/* GRID DE PROJETOS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid #222;
}

/* IMAGEM */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTEÚDO */
.card-content {
  padding: 20px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #bbb;
  font-size: 14px;
}

/* HOVER BONITO */
.card:hover {
  transform: translateY(-10px) scale(1.02);
  border-color: #fff;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}
